<%- include('./partials/header', { title: 'Error', path }) %>
<div class="card">
  <h1>Oops</h1>
  <p><%= message %></p>
  <a href="/" class="btn btn-primary">Back to Home</a>
</div>
<%- include('./partials/footer') %>
